/*Daniel Beales Last Edited: 12/11*/
.description{
    font-size: 50px;
    font-weight: bold;
}

body{
    background-image: url(../images/wallpaper.jpeg);
    background-position:top right;
}

.copyright{
    font-weight: bold;
    font-size: 20px;
    position: relative;

}

.link{
    font-size: 20px;

}